
/*
Filename: dronezone.less
Description: list of custom less used for DroneZone PSD template and custom
*/

#dronezone{
	@import "header.less";
	@import "hero.less";
	@import "services.less";
	@import "features.less";
	@import "marketing.less";
	@import "newsletter.less";
	@import "location.less";
	@import "footer.less";
}


body {
	&#dronezone{
		font-family: Montserrat;
		font-weight: 300;

		.container{
			@media (min-width: @screen-xl-min) {
				width: 1330px;
			}
		}

		strong{
			font-family: Montserrat;
			font-weight: 500;
		}

		h1{
			.montserrat(600, 38px);

			@media (min-width: @screen-md-min) {
				.montserrat(600, 40px);
			}

			@media (min-width: @screen-md-min) {
				.montserrat(600, 44px);
			}

			@media (min-width: @screen-lg-min) {
				.montserrat(600, 48px);
			}
		}

		h2{
			.montserrat(500, 26px);

			@media (min-width: @screen-sm-min) {
				.montserrat(500, 28px);
			}

			@media (min-width: @screen-md-min) {
				.montserrat(500, 30px);
			}
		}

		p{
			margin: 0;
			.montserrat(300, 16px);

			@media (min-width: @screen-sm-min) {
				.montserrat(300, 18px);
			}
		}

		.def-btn{
			padding: 15px 45px;
			border: 1px solid rgba(255, 255, 255, 0.7);
			background: transparent;
			border-radius: 50em;
			color: @white;
			.montserrat(300, 16px);
			text-decoration: none;
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
			margin: 15px auto;
			max-width: 80%;
			position: relative;

			@media (min-width: @screen-lg-min) {
				.montserrat(300, 18px);
				padding: 15px 60px;
			}

			&.blue{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1dbff+0,a1dbff+0,cbebff+76,f0f9ff+97 */
				background: rgb(38,70,153); /* Old browsers */
				background: -moz-linear-gradient(45deg, rgba(38,70,153,1) 0%, rgba(38,70,153,1) 0%, rgba(73,100,169,1) 76%, rgba(73,100,169,1) 97%); /* FF3.6-15 */
				background: -webkit-linear-gradient(45deg, rgba(38,70,153,1) 0%,rgba(38,70,153,1) 0%,rgba(73,100,169,1) 76%,rgba(73,100,169,1) 97%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(45deg, rgba(38,70,153,1) 0%,rgba(38,70,153,1) 0%,rgba(73,100,169,1) 76%,rgba(73,100,169,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				border: 1px solid rgba(73, 100, 169, 0);

				&:hover{
					background: @white;
					color: #4964a9;
					border: 1px solid rgba(73, 100, 169, 1);
				}
			}
		}

		.gradient-text{
			background: -webkit-linear-gradient(#dd0e2d, #e06900);
	  		-webkit-background-clip: text;
	  		-webkit-text-fill-color: transparent;
		}
	}
}


