.features{
	background-color: @white;
	padding-top: 70px;
	padding-bottom: 60px;
	position: relative;

	@media (min-width : @screen-sm-min) {
		padding-top: 120px;
		padding-bottom: 105px;
	}

	img{
		position: absolute;
		right: 0;
		left: -130px;
		top: 70px;
		height: auto;
		opacity: 0.2;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;

		@media (min-width: @screen-sm-min) {
			left: auto;
			right: 0;
			opacity: 0.4;
		}

		@media (min-width: @screen-sm-min) {
			opacity: 0.6;
		}

		@media (min-width: @screen-lg-min) {
			opacity: 0.8;
		}
	}

	.feature-text{
		text-align: center;

		@media (min-width: @screen-sm-min) {
			text-align: left;
		}
		h1{
			margin: 0;
		}

		p{
			color: #5e6372;
			line-height: 35px;
			padding-top: 10px;

			@media (min-width: @screen-sm-min) {
				line-height: 40px;
			}
		}
	}

	.feature-list{
		position: relative;
		float: left;

		.list-item{
			display: table;
			padding-top: 15px;
			padding-bottom: 15px;

			@media (min-width: @screen-sm-min) {
				padding-top: 30px;
				padding-bottom: 30px;

				&:last-child{
					padding-bottom: 0;
				}
			}

			.item-number{
				display: table-cell;
				float: none;
				vertical-align: middle;
				position: relative;

				span{
					&.border{
						width: 35px;
						height: 35px;
						border: 2px solid #a7acbc;
						border-radius: 50%;
						position: relative;
						padding: 10px 24px;

						@media (min-width: @screen-sm-min) {
							width: 40px;
							height: 40px;
							padding: 12px 26px;
						}
					}

					color: #3f4e76;
					.montserrat(300, 20px);
					position: absolute;
					left: 0;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					text-align: center;

					@media (min-width: @screen-sm-min) {
						.montserrat(300, 24px);
					}
				}
			}

			p{
				.montserrat(300, 14px);
				color: #a7acbc;
				line-height: 30px;
				display: table-cell;
				float: none;
				vertical-align: middle;
				padding-left: 20px;

				@media (min-width: @screen-sm-min) {
					padding-left: 30px;
				}
			}
		}
	}
}