.dzone-footer{
	background: @white;
	padding-top: 50px;
	padding-bottom: 100px;

	@media (min-width: @screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 150px;
	}

	@media (min-width: @screen-md-min) {
		padding-top: 70px;
		padding-bottom: 170px;
	}

	@media (min-width: @screen-lg-min) {
		padding-top: 70px;
		padding-bottom: 270px;
	}


	p{
		color: #a7acbc;
		line-height: 30px;

		a{
			.montserrat(500, 16px);
			text-decoration: none;
			color: #a7acbc;

			@media (min-width: @screen-sm-min) {
				.montserrat(500, 18px);
			}
		}
	}
}