header{
	z-index: 2;
	position: relative;
	
	nav{
		&.navbar{
			background: transparent;
			position: absolute;
			top: 30px;
			left: 0;
			right: 0;
			border: none;

			@media (min-width: @screen-sm-min) {
				top: 50px;
			}
		}

		.container{
			@media (min-width: @screen-sm-min) {
				display: table;
			}
		}
	}

	.navbar-header{
		span{
			color: @white;
		}

		@media (min-width: @screen-sm-min) {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}

		.navbar-toggle{
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
			background: @white;

			&.collapsed{
				background: transparent;

				.icon-bar{
					background-color: @white;
					-webkit-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
				}
			}
			
			@media (max-width: @screen-xs-max) {
				position: absolute;
				right: 0;
			}	
				
			.icon-bar{
				background-color: #e06900;
			}
		}
	}
	.navbar-brand{
		color: @white;
		.montserrat(300, 30px);
		padding-top: 0;
		padding-bottom: 0;
		line-height: inherit;

		@media (min-width: @screen-sm-min) {
			.montserrat(300, 36px);
			padding-left: 0;
			padding-right: 0;
		}

	}

	.navbar-collapse{
		@media (max-width: @screen-xs-max) {
			background-color: @dzone-light-gray;

			a{
				color: #5e6372;
			}
		}
		@media (min-width: @screen-sm-min) {
			display: table-cell !important; //to override default display: block !important
			float: none;
			vertical-align: middle;
		}
	}

	ul{
		&.navbar-nav{
			@media (min-width: @screen-sm-min) {
				float: right;
				margin-top: 15px;
			}
		}

		li{
			a{
				color: @white;
				.montserrat(300, 14px);
				opacity: 0.8;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 10px;
				padding-bottom: 10px;
				border: 1px solid rgba(255, 255, 255, 0);
				border-radius: 50em;
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;

				&:hover{
					background: none;
					border: 1px solid rgba(255, 255, 255, 1);
				}

				@media (min-width: @screen-sm-min) {
					padding-left: 10px;
					padding-right: 10px;
				}

				@media (min-width: @screen-md-min) {
					padding-left: 20px;
					padding-right: 20px;
				}
			}

			&.active{
				a{
					background: none;
					border: 1px solid rgba(255, 255, 255, 1);
				}
			}
		}
	}
}