.hero{
	height: 100vh;
	background: url('../../images/dronezone/dronezone-hero.jpg') center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;

	.hero-content{
		color: @white;
		position: absolute;
	    left: 15px;
	    right: 15px;
	    top: 50%;
	    transform: translateY(-50%);

	    @media (min-width: @screen-sm-min) {
	    	left: 0;
	    	right: 0;
	    }

		.hero-text{
			padding-bottom: 40px;
			position: relative;

			@media (min-width: @screen-sm-min) {
				padding-bottom: 60px;
				float: none;
			}

			h1{
				font-weight: 400;
			}

			p{
				opacity: 0.4;
				line-height: 25px;
			}
		}

		.hero-btn{
			position: relative;

			.def-btn{
				display: block;
				
				@media (min-width: @screen-sm-min) {
					display: inline-block;
					width: auto;
					margin-left: 10px;
					margin-right: 10px;

					&:hover{
						background-color: @white;
						color: @dzone-red;
					}
				}

				span{
					position: absolute;
					top: 45%;
					transform: translateY(-50%);
					left: 30px;
				}
			}
		}
	}

	.scroll{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 105px;

		img{
			padding-bottom: 15px;
		}

		p{
			.montserrat(300, 14px);
			color: rgba(255, 255, 255, 0.5);
		}
	}
}