.marketing{
	background-color: @dzone-light-gray;

	.marketing-img{
		position: relative;

		a{
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			max-width: 138px;
			max-height: 138px;

			img{
				position: relative;
				width: 100%;
			}
		}

		&.left{
			padding-right: 0;
		}

		&.right{
			padding-left: 0;
		}

		img{
			width: 100%;
		}

		.text-center{
			margin-left: -100%;
		}
	}

	.marketing-copy{
		text-align: center;
		padding-top: 15px;
		padding-bottom: 50px;

		@media (min-width: @screen-md-min) {
			text-align: left;
			padding-top: 0;
			padding-bottom: 0;

			p{
				padding-bottom: 55px;
			}

			.def-btn{
				float: left;
				margin: 0
			}
		}

		.container{
			// @media (min-width: @screen-sm-min) {
			// 	width: 375px;
			// }

			@media (min-width: @screen-md-min) {
				width: 485px;
			}

			@media (min-width: @screen-lg-min) {
				width: 585px;
			}

			@media (min-width: @screen-xl-min) {
				width: 665px;
			}

			&.mar-left{
				@media (min-width: @screen-md-min) {
					margin-left: 5%;
				}
			}
		}


		p{
			color: #5e6372;
			line-height: 35px;
			padding-bottom: 20px;

			@media (min-width: @screen-sm-min) {
				line-height: 35px;
			}

			@media (min-width: @screen-lg-min) {
				padding-bottom: 30px;
				line-height: 40px;
			}
		}

		.def-btn{
			float: none;
			margin: 0 auto;
			display: inline-block;

		}
	}
}