.newsletter{
	background: url('../../images/dronezone/newsletter-bg.jpg') center no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 100px;
	padding-bottom: 120px;
	color: @white;

	@media (min-width: @screen-md-min) {
		padding-top: 150px;
		padding-bottom: 170px;
	}

	h1{
		margin: 0;
		padding-bottom: 25px;
		line-height: 50px;

		@media (min-width: @screen-sm-min) {
			padding-bottom: 40px;
		}
	}

	.input{
		.montserrat(300, 16px);
		position: relative;
		max-width: 80%;
		margin: 0 auto;

		@media (min-width: @screen-sm-min) {
			max-width: 50%;
			.montserrat(300, 18px);
		}

		@media (min-width: @screen-md-min) {
			max-width: 35%;
		}

		input{
			color: @white;
			padding: 15px 25px;
			text-align: left;
			background: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 50em;
			width: 100%;

			&::-webkit-input-placeholder{
				color: @white;
			}
			&::-moz-placeholder{
				color: @white;
			}
			&:-moz-placeholder{
				color: @white;
			}
			&:-ms-input-placeholder{
				color: @white;
			}

			@media (min-width: @screen-sm-min) {
				padding: 15px 40px;
			}
		}

		button{
			padding: 15px 30px;
			background: @white;
			border: none;
			border-radius: 50em;
			color: #d32721;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;

			@media (min-width: @screen-sm-min) {
				padding: 15px 40px;
			}
		}
	}
}