.services{
	background-color: @dzone-light-gray;
	padding-top: 40px;
	padding-bottom: 30px;

	@media (min-width: @screen-sm-min) {
		padding-top: 115px;
		padding-bottom: 80px;
	}

	h2{
		padding-top: 5px;
		margin: 0;
	}

	p{
		margin-bottom: 30px;
		padding-top: 15px;

		@media (min-width: @screen-sm-min) {
			padding-top: 20px;
		}
	}

	.def-btn{
		display: inline-block;
	}
}