//custom variables

// additional media query

// for extra large screens -- 1440 and up
@screen-xl: 1440px;
@screen-xl-min: @screen-xl;

// additioanl max for lg screens
@screen-lg-max: (@screen-xl-min - 1);