/*custom fonts*/
@font-face {
  font-family: "Raleway";
  src:url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src:url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src:url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src:url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src:url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans";
  src:url("../fonts/OpenSans.ttf") format("truetype"),
}

@font-face {
  font-family: "Montserrat";
  src:url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src:url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src:url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src:url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src:url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src:url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

/*usage
	#element{
		.myriad(700,32);
		//first param is the font weight 
		//2nd param is the font size
		//default value is 300 font weight and 16 font size
	}
*/

.raleway(@weight:400, @size:16px){
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: @weight;
	font-size: @size;
}

.montserrat(@weight:400, @size:16px){
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: @weight;
	font-size: @size;
}