// For custom utilities

// Posiiton relative
.pos-rel{position: relative;}

//margins
.mar-rem{margin: 0;}

//padding
.pad-rem{padding: 0;}

//vertical center

// vertical center all breakpoints
.vcenter{
	display: table;

	.vcenter-child{
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
}

//vertical center sm up 
.vcenter-sm-up{
	@media(min-width: @screen-sm-min) {
		display: table;
		table-layout: fixed;

		.vcenter-child{
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
	}
}

//vertical center md up
.vcenter-md-up{
	@media (min-width: @screen-md-min){
		display: table;

		.vcenter-child{
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
	}
}

//vertical center xs only
.vcenter-xs{
	@media (max-width: @screen-xs-max) {
		display: table;

		.vcenter-child{
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
	}
}

//vertical center using inline block
.vcenter-inblock{
	display: inline-block;
	float: none;
	vertical-align: middle;
}

