.counter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+56,1+60,0+100 */
	background: -webkit-linear-gradient(left, rgba(35,28,26,1) 0%, rgba(35,28,26,1) 56%, rgba(35,28,26,1) 60%, rgba(78,51,39,1) 100%);
	background: -o-linear-gradient(left, rgba(35,28,26,1) 0%, rgba(35,28,26,1) 56%, rgba(35,28,26,1) 60%, rgba(78,51,39,1) 100%);
	background: linear-gradient(to right, rgba(35,28,26,1) 0%, rgba(35,28,26,1) 56%, rgba(35,28,26,1) 60%, rgba(78,51,39,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	position: relative;
	padding-top: 45px;
	padding-bottom: 40px;

	@media (min-width: @screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 55px;
	}

	.flex-container{
		width: 100%;
		position: relative;

		@media (min-width: @screen-sm-min) {
			display: flex;
			flex-direction: row;
		}
	}

	.flex-item{
		display: block;
		margin-bottom: 20px;
		opacity: 0.9;

		&:last-child{
			margin-bottom: 0;
		}

		@media (min-width: @screen-sm-min) {
			display: inline-block;
			flex-grow: 0;
			flex-basis: 20%;
			max-width: 100%;
		}
		span{
			font-size: 47px;
			color: #c7b299;
			margin-bottom: 15px;
			@media (min-width: @screen-sm-min) {
				margin-bottom: 30px;
			}
		}

		h1{
			.montserrat(200, 48px);
			color: @white;
			margin-bottom: 10px;
			@media (min-width: @screen-sm-min) {
				margin-bottom: 20px;
			}
		}

		p{
			.montserrat(300, 14px);
			color: #c7b299;
			text-transform: uppercase;
			margin-bottom: 15px;
			@media (min-width: @screen-sm-min) {
				margin-bottom: 30px;
			}
		}
		img{
			max-width: 100%;
		}
	}
}