.excellent{
	position: relative;
	padding-top: 45px;
	padding-bottom: 40px;

	@media (min-width: @screen-sm-min) {
		padding-top: 80px;
		padding-bottom: 0;
	}

	.row{
		display: flex;
		align-items: center;
	}


	img{
		max-height: 620px;
		float: right;
	}

	h2{
		margin-bottom: 20px;
		@media (min-width: @screen-sm-min) {
			margin-bottom: 40px;
		}
	}

	p{
		line-height: 1.5;
		margin-bottom: 25px;
		@media (min-wdith: @screen-sm-min) {
			margin-bottom: 35px;
		}
	}

	ul{
		margin: 0;
		list-style: none;
		padding-left: 10px;

		@media (min-width: @screen-sm-min) {
			padding-left: 45px;
		}

		li{
			.montserrat(300, 14px);
			padding-bottom: 10px;
			color: #8c8c8c;

			@media (min-width: @screen-sm-min) {
				.montserrat(300, 16px);
			}

			&:last-child{
				padding-bottom: 0;
			}

			&:before{
				content: "\e258";
				font-family: 'Glyphicons Halflings';
				font-size: 10px;
				color: @white;
				padding: 3px 4px;
				border-radius: 50em;
				background-color: #c7b299;
				// display: inline-block;
				// vertical-align: middle;
				text-align: center;
				margin-right: 20px;

				@media (min-width: @screen-sm-min) {
					margin-right: 30px;
				}
			}
		}
	}
}