footer{
	&.footer-hidden{
		position: relative;

		@media (min-width: @screen-sm-min) {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}
	}
	

	.footer-main{
		background: #191919;
		padding-top: 75px;
		padding-bottom: 75px;
		text-align: center;

		@media (min-width: @screen-sm-min) {
			text-align: left;
		}

		h3{
			.raleway(700, 22px);
			color: @white;
			margin-bottom: 15px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 30px;
				.raleway(700, 24px);
			}
		}

		p{
			.montserrat(300, 14px);
			color: #555555;

			span{
				display: block;
			}
		}

		.waxom-info{
			position: relative;
			margin-bottom: 30px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 0;
			}

			img{
				height: 50px;
				position: absolute;
				left: 0;
				right: 0;
    			top: -35px;
    			margin: 0 auto;

    			@media (min-width: @screen-sm-min) {
    				left: 15px;
    				top: -15px;
    				margin: 0;
    			}

    			@media (min-width: @screen-md-min) {
    				height: 60px;
    			}
			}

			p{
				padding-top: 30px;
				margin-bottom: 20px;

				@media (min-width: @screen-sm-min) {
					padding-top: 60px;
					margin-bottom: 30px;
				}
			}

			a{
				color: @white;
				.montserrat(400, 14px);

				span{
					font-size: 11px;
				}
			}
		}

		.recent-posts{
			margin-bottom: 30px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 0;
			}

			a{
				display: block;
				margin-bottom: 18px;

				&:last-child{
					margin-bottom: 0;

					p{
						border: none;
					}
				}

				&:hover{
					p{
						color: #c7b299;

						span{
							&:first-child{
								color: @white;
							}
						}
					}
				}
			}
			p{
				border-bottom: 1px solid rgba(85, 85, 85, 0.5);
				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				-o-hyphens: auto;
				hyphens: auto;
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;

				span{
					margin-bottom: 10px;

					@media (min-width: @screen-sm-min) {
						margin-bottom: 22px;
					}

					&:first-child{
						color: #363636;
						margin-bottom: 10px;
					}
				}
			}
		}

		.our-twitter{
			margin-bottom: 30px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 0;
			}
			p{
				margin-bottom: 10px;
				border-bottom: 1px solid rgba(85, 85, 85, 0.5);

				@media (min-width: @screen-sm-min) {
					margin-bottom: 18px;
				}

				&:last-child{
					border: none;
				}

				span{
					margin-bottom: 11px;

					&:nth-child(2){
						color: #363636;
						margin-bottom: 10px;
						@media (min-width: @screen-sm-min) {
							margin-bottom: 20px;
						}
					}
				}
			}

			a{
				color: #00bff3;

				&.gray{
					color: #959595;
				}
			}
		}

		.dribble{
			.flex-container{
				width: 100%;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.flex-item{
				margin-left: auto;
   	 			margin-right: auto;
				flex-basis: 100%;
				height: 100px;
				max-width: 130px;
				overflow: hidden;
				margin-bottom: 10px;
				position: relative;

				@media (min-width: @screen-sm-min) {
					margin-left: 0;
				}

				@media (min-width: @screen-md-min) {
					display: block;
				}

				@media (min-width: @screen-lg-min) {
					max-width: 130px;
					flex-basis: 50%;
				}
			}

			img{
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.mini-footer{
		background: #111111;
		.montserrat(300, 13px);
		color: #555555;
		padding: 25px 0;
		text-align: center;

		@media (min-width: @screen-sm-min) {
			text-align: left;
			padding: 45px 0;
		}

		ul{
			list-style: none;
			padding: 0;
			margin: 0;

			li{
				display: block;
				border: none;
				padding: 5px 0;

				@media (min-width: @screen-sm-min) {
					display: inline-block;
					border-right: 1px solid #252525;
					padding: 2px 14px;

					&:last-child{
						border: none;
					}
				}

				a{
					color: #555555;

					&.bright{
						color: #959595;
					}

					&:hover{
						color: #c7b299;
					}
				}
			}

			&.right{
				float: none;

				@media (min-width: @screen-sm-min) {
					float: right;
				}
			}
		}
	}
}