header{
	background-color: rgba(85, 85, 85, 1);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	@media (min-width: @screen-sm-min) {
		background-color: rgba(85, 85, 85, 0);
		position: fixed;
		z-index: 10;
		width: 100%;

		&.active{
			background-color: rgba(85, 85, 85, 1);
		}
	}

	.flex-container{
		@media (min-width: @screen-sm-min) {
			display: flex;
	 		flex-direction: row;
			justify content: space-between;
			align-items: center;
		}
	}

	.main-header{
		position: relative;
		color: @white;
		display: block;
		padding: 15px 10px;

		@media (min-width: @screen-sm-min) {
			display: inline-block;
		    flex-grow: 1;
		    flex-basis: auto;
		}

		.mobile-menu{
			display: block;
			vertical-align: middle;
			width: 35px;
			height: 25px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;

			@media (min-width: @screen-sm-min) {
				display: none;
			}

			span{
				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background: @white;
				border-radius: 9px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				-ms-transisiton: .25s ease-in-out;
				transition: .25s ease-in-out;
				&:nth-child(1){
					top: 0px;
				}
				&:nth-child(2),&:nth-child(3){
					top: 10px;
				}
				&:nth-child(4){
					top: 20px;
				}
			}

			&.open{
				span{
					&:nth-child(1){
						top: 10px;
						width: 0%;
						left: 50%;
					}
					&:nth-child(2){
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					&:nth-child(3){
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
					&:nth-child(4){
						top: 10px;
						width: 0%;
						left: 50%;
					}
				}
			}
		}

		.brand-logo{
			position: relative;
			display: block;
			vertical-align: middle;
			text-align: center;
			max-width: 50%;
			margin: 0 auto;

			@media (min-width: @screen-sm-min) {
				margin: 0;
			}

			a{
				display: block;
				height: 40px;

				@media (min-width: @screen-sm-min) {
					height: 30px;
				}

				@media (min-width: @screen-sm-min) {
					height: 40px;
				}

				img{
					height: 100%;
				}
			}
		}
	}

	.navbar{
		position: absolute;
		top: 0;
		left: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    -moz-transform: translate3d(-100%, 0, 0);
	    -ms-transform: translate3d(-100%, 0, 0);
	    -o-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
	    backface-visibility: hidden;
	    height: 100%;
	    width: 35%;
	    background: rgba(85, 85, 85, 1);
	    margin: 0;
	    border: none;

	    @media (min-width: @screen-sm-min) {
	    	position: relative;
	    	-webkit-transform: translate3d(0, 0, 0);
		    -moz-transform: translate3d(0, 0, 0);
		    -ms-transform: translate3d(0, 0, 0);
		    -o-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    height: auto;
		    width: auto;
		    background: rgba(85, 85, 85, 0);
		    display: inline-block;
		    flex-grow: 2;
		    flex-basis: 85%;

	    }

	    nav{
	    	opacity: 1;
	    	position: relative;
		    -webkit-transform: translate3d(-70%, 0, 0);
		    -moz-transform: translate3d(-70%, 0, 0);
		    -ms-transform: translate3d(-70%, 0, 0);
		    -o-transform: translate3d(-70%, 0, 0);
		    transform: translate3d(-70%, 0, 0);
		    -webkit-transform-origin: 50% 0%;
		    -moz-transform-origin: 50% 0%;
		    -ms-transform-origin: 50% 0%; 
		    -o-transform-origin: 50% 0%;
		    transform-origin: 50% 0%;
		    background: transparent;
		    padding: 20px 10px 0;

		    @media (min-width: @screen-sm-min) {
		    	-webkit-transform: translate3d(0, 0, 0);
			    -moz-transform: translate3d(0, 0, 0);
			    -ms-transform: translate3d(0, 0, 0);
			    -o-transform: translate3d(0, 0, 0);
			    transform: translate3d(0, 0, 0);
			    -webkit-transform-origin: 0% 0%;
			    -moz-transform-origin: 0% 0%;
			    -ms-transform-origin: 0% 0%; 
			    -o-transform-origin: 0% 0%;
			    transform-origin: 0% 0%;
			    padding: 0;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 50%;
			    -moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-o-transform: translateY(3-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		    }

		    ul{
		    	list-style: none;
		    	padding: 0;
		    	margin: 0;

		    	@media (min-width: @screen-sm-min) {
		    		float: right;
		    	}

		    	li{
					display: block;
					padding: 10px 0 5px;
					border-bottom: 1px solid @white;

					@media (min-width: @screen-sm-min) {
						display: inline-block;
						float: none;
						padding: 0 5px;
						vertical-align: middle;
						border: none;
					}

					@media (min-width: @screen-md-min) {
						padding: 0 10px;
					}

					a{
						.montserrat(300, 14px);
						color: @white;
						-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;

						&:hover, &:active{
							color: #c7b299;
						}

						@media (min-width: @screen-sm-min) {
							.montserrat(300, 13px);
						}

						@media (min-width: @screen-md-min) {
							.montserrat(300, 14px);
						}
					}
		    	}
		    }
	    }
	}

	.menu-extension{
		display: inline-block;
	    flex-grow: 1;
	    flex-basis: 10%;
	    margin: 0 auto;
	    text-align: right;

	    @media (min-width: @screen-md-min) {
	    	flex-basis: 15%;
	    }

	    .item{
	    	display: inline-block;
	    	float: none;
	    	vertical-align: middle;
	    	padding: 0 5px;

	    	@media (min-width: @screen-lg-min) {
	    		padding: 0 15px;
	    	}
	    }

	    a{
	    	color: @white;
	    	font-size: 18px;
	    	line-height: 0.8;

	    	@media (min-width: @screen-lg-min) {
	    		font-size: 24px;
	    	}

	    	&:hover{
	    		color: #c7b299;
	    	}
	    }
	}
}