.hero{
	background: url('../../images/waxom/hero.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 100vh;

	.hero-content{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100%;

		@media (min-width: @screen-sm-min) {
			max-width: 80%;
		}

		@media (min-width: @screen-md-min) {
			max-width: 70%;
		}

		@media (min-width: @screen-lg-min) {
			max-width: 50%;
		}

		@media (min-width: @screen-xl-min) {
			max-width: 40%;
		}

		.hero-sub-title{
			color: @white;
			.raleway(500, 32px);
			margin-bottom: 15px;

			@media (min-width: @screen-sm-min) {
				.raleway(500, 36px);
			}
		}

		.hero-title{
			.raleway(800, 40px);
			color: @white;
			margin-bottom: 20px;
			@media (min-width: @screen-sm-min) {
				.raleway(800, 44px);
				margin-bottom: 30px;
			}
			@media (min-width: @screen-md-min) {
				.raleway(800, 48px);
			}
			@media (min-width: @screen-lg-min) {
				.raleway(800, 52px);
			}
		}

		p{
			color: @white;
			margin-bottom: 30px;
			@media (min-width: @screen-sm-min) {
				margin-bottom: 50px;
			}
		}
	}
}