.partners{
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0.45)
	    ),
		url('../../images/waxom/partner-bg.jpg') center no-repeat;
	background-size: cover;
	position: relative;
	padding: 80px 0;

	@media (min-width: @screen-sm-min) {
		padding: 135px 0;
		border-bottom: 1px solid #555555;
	}

	.flex-container{
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.flex-item{
		flex-basis: 25%;
		padding: 15px 0;

		@media (min-width: @screen-sm-min) {
			padding: 0 15px;
		}
	}

	a{
		width: 100%;
		max-width: 170px;
		display: block;
		margin: 0 auto;

		@media (min-width: @screen-md-min) {
			max-width: 210px;
		}

		img{
			width: 100%;
		}
	}
}