.posts{
	padding-top: 45px;
	padding-bottom: 40px;

	@media (min-width: @screen-sm-min) {
		padding-top: 85px;
		padding-bottom: 75px;
	}

	h2{
		margin-bottom: 20px;

		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}
	}

	p{
		line-height: 30px;
		margin-bottom: 20px;
		width: 100%;

		@media (min-width: @screen-sm-min) {
			width: 80%;
			margin: 0 auto 20px auto;
		}

		@media (min-width: @screen-md-min) {
			width: 70%;
			margin: 0 auto 25px auto;
		}

		@media (min-width: @screen-lg-min) {
			width: 60%;
			margin: 0 auto 25px auto;
		}
	}

	.card{
		@media (min-width: @screen-sm-min) {
			&:hover{
				.post-date{
					.day{
						background: #c7b299;
					}
					.month{
						background: #a48d72;
					}
				}
				
				.card-caption{
					border: none;
					h4{
						color: #c7b299;
					}
					p{
						color: @white;
					}
				}
			}
		}

		.img-hover{
			cursor: pointer;
		}
			
		.post-date{
			position: absolute;
			top: 15px;
			left: 20px;
			color: @white;
			text-align: center;
			z-index: 3;
			width: 50px;

			.day{
				display: block;
				.montserrat(300, 24px);
				background: #363636;
				padding: 10px 0;
				width: 100%;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				-webkit-transition: background 300ms ease;
				-moz-transition: background 300ms ease;
				-ms-transition: background 300ms ease;
				-o-transition: background 300ms ease;
				transition: background 300ms ease;
			}

			.month{
				display: block;
				.montserrat(300, 12px);
				background: #252525;
				padding: 8px 0;
				width: 100%;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				-webkit-transition: background 300ms ease;
				-moz-transition: background 300ms ease;
				-ms-transition: background 300ms ease;
				-o-transition: background 300ms ease;
				transition: background 300ms ease;
			}
		}

		.card-caption{
			background: @white;
			border: 1px solid #f8f8f8;
			border-top: 0;

			h4{
				color: #555555;
			}

			p{
				color: #8c8c8c;
				margin-bottom: 25px;
			}

			a{
				.montserrat(300, 14px);
				color: #c7b299;
				position: relative;

				span{
					font-size: 11px;
				}
			}
		}
	}
}