.projects{
	padding: 45px 0;

	@media (min-width: @screen-sm-min) {
		padding: 80px 0;
	}

	h2{
		margin-bottom: 20px;

		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}
	}

	p{
		line-height: 30px;
		margin-bottom: 20px;
		width: 100%;

		@media (min-width: @screen-sm-min) {
			width: 80%;
			margin: 0 auto 20px auto;
		}

		@media (min-width: @screen-md-min) {
			width: 70%;
			margin: 0 auto 25px auto;
		}

		@media (min-width: @screen-lg-min) {
			width: 60%;
			margin: 0 auto 25px auto;
		}
	}

	.tab-drop{
		display: block;
		.raleway(300, 18px);
		border-bottom: 1px solid #998675;
		color: #998675;
		margin: 0 15px;
		padding: 5px 0;
		position: relative;

		@media (min-width: @screen-sm-min) {
			display: none;
		}

		span{
			font-size: 14px;
			position: absolute;
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 0;
		}
	}

	.tab-opts{
		padding: 25px 0;
	}

	.nav{
		&.nav-tabs{
			border-bottom: 0;
			display: none;

			@media (min-width: @screen-sm-min) {
				display: block;
			}

			li{
				display: block;
				float: none;
				padding: 0 5px;

				@media (min-width: @screen-sm-min) {
					display: inline-block;
				}

				&.active{
					a{
						color: @white;
						background: rgba(153, 134, 117, 1);
					}
				}

				a{
					color: #8c8c8c;
					background: rgba(153, 134, 117, 0);
					padding: 10px 15px;
					border: 1px solid rgba(140, 140, 140, 0.5);
					border-radius: 5px;
					.montserrat(300, 14px);

					&:hover{
						color: @white;
						background: rgba(153, 134, 117, 1);
					}
				}
			}
		}
	}

	.card{
		&.project{
			@media (min-width: @screen-sm-min) {
				&:hover{
					.card-caption{
						.triangle-up{
							border-bottom: 10px solid #362f2d;
						}
					}
				}
			}
		}

		a{
			
		}
		.img-holder{
			.img-hover{
				.links{
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					top: 50%;
					-moz-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				span{
					color: @white;
					font-size: 25px;
					cursor: pointer;
					padding: 0 15px;
					-webkit-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
					position: relative;

					&:hover{
						color: #c7b299;
					}
				}
			}
		}

		.card-caption{
			.triangle-up{
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-bottom: 10px solid #fbfaf8;
				position: absolute;
				left: 20px;
				top: -10px;
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;
			}
		}
	}

	.wax-btn{
		display: inline-block;
		margin-top: 15px;

		@media (min-width: @screen-sm-min) {
			margin-top: 25px;
		}
	}
}