.realization{
	background-color: #fbfaf8;
	position: relative;
	padding-top: 50px;

	@media (min-width: @screen-sm-min) {
		padding-top: 80px;
	}

	h2{
		margin-bottom: 20px;
		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}
	}

	p{
		line-height: 1.5;
		margin-bottom: 25px;
		width: 100%;
		@media (min-width: @screen-sm-min) {
			margin: 0 auto 40px auto;
			width: 80%;
		}
		@media (min-width: @screen-lg-min) {
			width: 65%;
		}
	}

	img{
		position: relative;
		bottom: 0;
		width: 100%;
		margin: 0 auto;
	}
}