.services{
	padding-top: 35px;
	padding-bottom: 45px;
	position: relative;

	@media (min-width: @screen-sm-min) {
		padding-top: 80px;
		padding-bottom: 75px;
	}

	.service-item{
		padding-top: 25px;

		@media (min-width: @screen-sm-min) {
			padding-top: 0;
		}
 	}

	a{
		color: #555555;

		@media (min-width: @screen-sm-min) {
			padding-top: 0;
			&:hover{
				span, h3 {
					color: #c7b299;
				}

				img{
					opacity: 1;
				}
			}
		}
	}

	span{
		font-size: 40px;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	h3{
		margin-bottom: 15px;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	img{
		opacity: 0.5;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	p{
		line-height: 1.5;
		margin-bottom: 15px;

		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}
	}
}