.theme{
	padding: 50px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+56,1+60,0+100 */
	background: -webkit-linear-gradient(left, rgba(35,28,26,1) 0%, rgba(35,28,26,1) 56%, rgba(35,28,26,1) 60%, rgba(78,51,39,1) 100%);
	background: -o-linear-gradient(left, rgba(35,28,26,1) 0%, rgba(35,28,26,1) 56%, rgba(35,28,26,1) 60%, rgba(78,51,39,1) 100%);
	background: linear-gradient(to right, rgba(35,28,26,1) 0%, rgba(35,28,26,1) 56%, rgba(35,28,26,1) 60%, rgba(78,51,39,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */	
	text-align: center;

	@media (min-width: @screen-sm-min) {
		text-align: left;
	}
	
	.vcenter-sm-up{
		width: 100%;
	}

	h2{
		color: @white;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 10px;

		span{
			color: #c7b299;
		}
	}

	p{
		color: #615855;
		line-height: 1.5;
		.montserrat(300, 16px);
		margin-bottom: 15px;

		@media (min-width: @screen-sm-min) {
			.montserrat(300, 18px);
			margin-bottom: 0;
		}
	}

	.wax-btn{
		padding: 15px;
		width: auto;
		display: inline-block;

		@media (min-width: @screen-sm-min){
			width: 100%;
		}
	}
}