.video{
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0.45)
	    ), 
		url('../../images/waxom/video-bg.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 80vh;

	.video-banner{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.play-btn{
		display: inline-block;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 50em;
		width: 80px;
		height: 80px;
		position: relative;
		margin-bottom: 50px;

		a{
			display: inline-block;
			position: absolute;
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 0;
			right: 0;
			font-size: 60px;
			color: @white;
			line-height: 0.8;
		}
	}

	h2{
		font-weight: 500;
		margin-bottom: 20px;
		color: @white;
		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}
	}

	p{
		line-height: 30px;
		width: 100%;
		margin-bottom: 25px;
		color: @white;

		@media (min-width: @screen-sm-min) {
			width: 80%;
			margin: 0 auto 30px auto;
		}
		@media (min-width: @screen-md-min) {
			width: 70%;
			margin: 0 auto 40px auto;
		}
		@media (min-width: @screen-lg-min) {
			width: 50%;
			margin: 0 auto 40px auto;
		}
		@media (min-width: @screen-xl-min) {
			width: 35%;
			margin: 0 auto 40px auto;
		}

		&.time{
			margin: 0;
			width: auto;
			color: #c7b299;
			.montserrat(300, 14px);
		}
	}
}