#waxom{
	@import "waxom-font-icons.less";
	@import "header.less";
	@import "hero.less";
	@import "services.less";
	@import "realization.less";
	@import "theme.less";
	@import "projects.less";
	@import "video.less";
	@import "excellent.less";
	@import "counter.less";
	@import "posts.less";
	@import "partners.less";
	@import "footer.less";
}

body{
	&#waxom{
		.container{
			@media (min-width: @screen-xl-min) {
				width: 1240px;
			}
		}

		p{
			margin: 0;
			color: #8c8c8c;
			.montserrat(300, 16px);
		}

		h1{
			margin: 0;
			.raleway(600, 32px);
			color: #555555;
			@media (min-width: @screen-sm-min) {
				.raleway(600, 36px);
			}
		}

		h2{
			margin: 0;
			.raleway(600, 26px);
			color: #555555;
			@media (min-width: @screen-sm-min) {
				.raleway(600, 30px);
				line-height: 1;
			}
		}

		h3{
			margin: 0;
			.raleway(600, 20px);
			color: #555555;
			@media (min-width: @screen-sm-min) {
				.raleway(600, 22px);
			}
		}

		h4{
			margin: 0;
			.raleway(600, 18px);
			color: #555555;
			@media (min-width: @screen-sm-min) {
				.raleway(600, 20px);
			}
		}

		a{
			text-decoration: none;
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
		}

		.outer-wrap{
			position: relative;
			overflow: hidden;
			width: 100%;
		}

		.inner-wrap{
			position: relative;
			width: 100%;
			-webkit-transition: -webkit-transform 500ms ease;
    		-moz-transition: -moz-transform 500ms ease;
    		-ms-transition: -ms-transform 500ms ease;
    		-o-transition: -o-transform 500ms ease;
    		transition: transform 500ms ease;
    		-moz-backface-visibility: hidden;
		    -ms-backface-visibility: hidden;
		    -o-backface-visibility: hidden;
		    backface-visibility: hidden;

			@media (max-width: @screen-xs-max) {
				left: 0;
				-webkit-transform: translate3d(0, 0, 0);
			    -moz-transform: translate3d(0, 0, 0);
			    -ms-transform: translate3d(0, 0, 0);
			    -o-transform: translate3d(0, 0, 0);
			    transform: translate3d(0, 0, 0);
			}
			&.active{
				left: 0;
		    	-webkit-transform: translate3d(35%, 0, 0);
			    -moz-transform: translate3d(35%, 0, 0);
			    -ms-transform: translate3d(35%, 0, 0);
			    -o-transform: translate3d(35%, 0, 0);
			    transform: translate3d(35%, 0, 0);

			    nav{
					-webkit-transform: translate3d(0, 0, 0);
				    -moz-transform: translate3d(0, 0, 0);
				    -ms-transform: translate3d(0, 0, 0);
				    -o-transform: translate3d(0, 0, 0);
				    transform: translate3d(0, 0, 0);
			    }
		    }
		}

		.wax-btn{
			position: relative;
			padding: 15px 35px;
			color: @white;
			background-color: #998675;
			.raleway(800, 14px);
			border-radius: 5px;
			border: 1px solid rgba(153, 134, 117, 0);

			@media (min-width: @screen-sm-min) {
				&:hover{
					background-color: transparent;
					border: 1px solid rgba(153, 134, 117, 1);
					color: #998675;
				}
			}
		}

		.flex-container{
			@media (min-width: @screen-sm-min) {
				display: flex;
				flex-direction: row;
			}
			
		}

		.flex-item{
			display: block;

			@media (min-width: @screen-sm-min) {
				display: inline-block;
				flex-grow: 0;
				flex-basis: auto;
				max-width: 100%;
			}
		}

		.triangle-up{
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid black;
		}

		.card{
			padding-top: 15px;
			padding-bottom: 15px;

			@media (max-width: @screen-xs-max) {
				max-width: 370px;
				margin: 0 auto;
				float: none;
			}

			@media (min-width: @screen-sm-min) {
				&:hover{
					.img-holder{
						.img-hover{
							opacity: 1;
						}
					}
					.card-caption{
						background-color: #362f2d;

						h4{
							color: @white;
						}

						p{
							color: #c7b299;
						}
					}
				}
			}

			@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
				max-width: 400px;
				margin: 0 auto;
				float: none;
				display: inline-block;
			}

			.img-holder{
				position: relative;
				width: 100%;
				max-height: 237px;
				min-height: 237px;
				overflow: hidden;

				img{
					position: absolute;
					left: 0;
					right: 0;
					top: 50%;
					-moz-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				.img-hover{
					opacity: 0;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0,0,0,0.5);
					height: 100%;
					z-index: 2;
					-webkit-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
				}
			}
			
			.card-caption{
				background: #fbfaf8;
				padding: 15px;
				text-align: center;
				position: relative;
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;

				@media (min-width: @screen-sm-min) {
					text-align: left;
					padding: 30px;
				}

				h4{
					color: #c7b299;
					margin-bottom: 15px;
					font-weight: 500;
					-webkit-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
				}

				p{
					color: #d1d1d1;
					.montserrat(300, 14px);
					-webkit-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
					margin: 0;
					width: auto;
				}
			}
		}

		.main-content{
			z-index: 2;
			position: relative;
			background: @white;
		}
	}
}