@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wax-customization:before {
  content: "\61";
}
.icon-wax-blog:before {
  content: "\62";
}
.icon-wax-coffee:before {
  content: "\63";
}
.icon-wax-dev:before {
  content: "\64";
}
.icon-wax-likes:before {
  content: "\65";
}
.icon-wax-web-design:before {
  content: "\66";
}
.icon-wax-marketing:before {
  content: "\67";
}
.icon-wax-launch:before {
  content: "\68";
}
.icon-wax-clients:before {
  content: "\69";
}
.icon-wax-play-button:before {
  content: "\6a";
}
.icon-wax-search:before {
  content: "\6b";
}
.icon-wax-shop:before {
  content: "\6c";
}
